* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: 'Fira Code', 'fontAwesome', 'FiraCode Nerd Font';
  font-size: 15px;
  font-weight: bold;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.99);
  color: #cdd6f4;
  transition-property: background-color;
  transition-duration: .5s;
  border-radius: 25px;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: white;
  box-shadow: inset 0 -3px #ffffff;
}


#clock,
#cpu,
#memory,
#network,
#tray {
  padding: 0 10px;
  color: #cdd6f4;
}

#clock {
  /* background-color: #64727D; */
  margin-left: 10px;
}

label:focus {
  background-color: #000000;
}

#cpu {
  color: #cdd6f4;
}

#memory {
  color: #cdd6f4;
}

#network {
  color: #cdd6f4;
  margin-right: 20px;
}

#tray {
  color: #cdd6f4;
  /* font-size: 20px; */
  margin-right: 6px;
}

#tray menu {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#language {
  color: #cdd6f4;
  margin-left: 10px;
}

#custom-os-icon {
  color: #cdd6f4;
  font-size: 26px;
  padding-left: 13px;
  padding-right: 17px;
}

#custom-os-icon:hover {
  border-radius: 15px;
  background: #89b4fa;
  color: #181825;
}

#custom-power {
  color: #cdd6f4;
  font-size: 20px;
  padding-left: 16px;
  padding-right: 22px;
}

#custom-power:hover {
  border-radius: 15px;
  background: #f38ba8;
  color: #181825;
}

#custom-screenshot {
  margin-right: 10px;
}

#custom-clipboard {
  margin-right: 10px;
  font-size: 17px;
}
